<header>
    <nav style="height:50px;"
         class="navbar navbar-expand-lg navbar-light bg-light border rounded-bottom mb-5">
        <a class="navbar-brand glyphicon glyphicon-home text-info" th:href="@{|/menu|}"> Accueil<span
                class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link glyphicon glyphicon-user text-info" th:href="@{/login}"> Administration</a>
                </li>
            </ul>
            <h1 class="navbar-text text-success m-3 pb-3">Carrosserie </h1>
            <img style="max-width:45px; max-height:45px;" class="w-auto h-auto" th:src="@{/images/afpa.png}"
                 alt="Logo Afpa tout vert">
        </div>
    </nav>
    <div class="row m-2">
        <div class="col-md-12 text-center">
            <img class="mw-100 mh-100" th:src="@{/images/anim2.png}" alt="Beau comme un camion tout neuf !"/>
        </div>
    </div>

</header>
