<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}"/>
    <link rel="stylesheet" type="text/css" href="webjars/font-awesome/5.4.1/css/all.css"/>
    <script type="text/javascript" src="webjars/font-awesome/5.4.1/js/all.js"></script>
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container border border-info rounded">
    <div class="row border border-dark rounded my-5 mx-2">
        <div class="col-md-12">
            <div class="col-md-8 float-left">
                <h2>Facture</h2>
            </div>
            <div class="col-md-4 float-right">
                <p th:inline="text">
                    <small>Numéro de facture : [(${facturation.id})]</small>
                </p>

                <small>Date : <span>[(${facturation.date})]</span></small>
            </div>
        </div>
    </div>
    <div class="row mt-5 mx-2">
        <div class="col-md-12 p-0">
            <div class="col-md-4 border border-dark rounded bg-light">
                <div class="row ml-1 my-2">
                    <p><strong>Carrosserie AFPA</strong></p>
                    <p>12 rue Mermoz</p>
                    <p>34430 ST JEAN DE VEDAS</p>
                    <p><span>&#9742; 3936</span></p>
                </div>
            </div>
            <div class="col-md-4 mt-3 border border-dark rounded float-right">
                <div class="row ml-1 my-2">
                    <p><strong>[(${facturation.client.prenom})]</strong> <strong>[(${facturation.client.nom})]</strong></p>
                    <p><span>[(${facturation.client.adresse})]</span></p>
                    <p><span>&#9742; <span>[(${facturation.client.telephone})]</span></span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5 m-2">
        <div class="col-md-8 p-0">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Véhicule </h5>
                </div>
                <div class="card-body">
                    <p class="card-text">[(${facturation.voiture.marque})]</p>
                    <p>[(${facturation.voiture.modele})]</p>
                    <p class="card-text">Immatriculation : <span>[(${facturation.voiture.immat})]</span></p>
                    <p class="card-text">Gabarit : <span>[(${facturation.voiture.categorie})]</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 m-2">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Prestation</th>
                <th scope="col">Finition</th>
                <th scope="col">Prix</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prestation : ${facturation.prestation}">
                <th scope="row"><i class="fas fa-car"></i></th>
                <td><span>[(${prestation.acte})]</span></td>
                <td><span>[(${prestation.finition})]</span></td>
                <td><span>[(${prestation.prix})]</span></td>
            </tr>
            <tr>
                <th scope="row" colspan="3">Total dû après calcul de la catégorie du véhicule</th>
                <td class="alert-success font-weight-bold"><span>[(${facturation.prix})]</span> €</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row m-2">
        <div class="alert alert-warning col-md-12 mt-2">
            <div class="text-center font-weight-bold m-1">
                <p>Les tarifs présentés sont applicables aux véhicules de catégorie moyenne (Megane, Golf,841
                    etc..).</p>
                <p>Comptez 10% d'abattement pour les petits gabarits (Twingo, 107, etc..).</p>
                <p>Comptez 10% de majoration pour les gros véhicules (berline, Laguna, etc..).</p>
                <p>Comptez 20% de majoration pour les fourgons.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>