<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" type="text/css" href="webjars/select2/4.0.5/css/select2.css"/>
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/select2/4.0.5/js/select2.js"></script>

</head>

<body>
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- -------------              EN-TÊTE DE PAGE              ---------------- -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="col-md-12">Carrosserie AFPA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a th:href="@{|/menu|}" class="btn glyphicon glyphicon-home">
                    <span><strong> Accueil</strong></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-8">
                <img class="mw-100 mh-100" th:src="@{/images/anim2.png}" alt="Beau comme un camion tout neuf !"/>
            </div>
        </div>
    </div>
</header>

<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- -------------   BOUTONS NOUVEAU CLIENT/CLIENT EXISTANT  ---------------- -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<div class="container mt-5">
    <div class="row">
        <div class="offset-3 col-md-1">
            <a href="#addClient" class="btn btn-info a-btn-slide-text m-2" data-toggle="modal"
               data-target="#addClient">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span><strong>Nouveau Client</strong></span>
            </a>
        </div>
        <div class="offset-2 col-md-1">
            <a href="#readClient" class="btn btn-info a-btn-slide-text m-2" data-toggle="modal"
               data-target="#readClient">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                <span><strong>Client Existant</strong></span>
            </a>
        </div>
    </div>
</div>

<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- -------------         FORM MODAL NOUVEAU CLIENT         ---------------- -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<form method="post" th:action="@{/enregistrer}">
    <div class="modal" id="addClient" tabindex="-1" role="dialog" href="#">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enregistrer un nouveau client</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal mt-5" method="post">
                        <fieldset>
                            <!-- Form Name -->

                            <div class="container">
                                <!-- 1ere colonne du champ de saisie CLIENT-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="prenom" name="prenom" placeholder="Prénom"
                                                       class="form-control input-md"
                                                       type="text" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="nom" name="nom" placeholder="Nom"
                                                       class="form-control input-md"
                                                       type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="adresse" name="adresse" placeholder="Adresse"
                                                       class="form-control input-md"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="telephone" name="telephone" placeholder="Téléphone"
                                                       class="form-control input-md"
                                                       type="tel" pattern="[0]{1}[0-9]{9}" maxlength="10" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="email" name="email" placeholder="Email"
                                                       class="form-control input-md"
                                                       type="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="numAfpa" name="numAfpa" placeholder="Numéro AFPA"
                                                       class="form-control input-md"
                                                       type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="marque" name="marque" placeholder="Marque de la voiture"
                                                       class="form-control input-md"
                                                       type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="immat" name="immat" placeholder="Immatriculation"
                                                       class="form-control input-md"
                                                       type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="modele" name="modele" placeholder="Modèle"
                                                       class="form-control input-md"
                                                       type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="couleur" name="couleur" placeholder="Couleur"
                                                       class="form-control input-md"
                                                       type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <select id="categorie" name="categorie" class="form-control input-md" required>
                                                    <option hidden="" value="">Choisissez une categorie</option>
                                                    <option value="petit">Petit gabarit</option>
                                                    <option value="moyen">Moyen gabarit</option>
                                                    <option value="gros">Gros gabarit</option>
                                                    <option value="fourgon">Fourgon</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="date" name="date" placeholder="Date du véhicule"
                                                       class="form-control input-md"
                                                       type="date" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <input id="boutonSave" class="btn btn-info" type="submit" value="&#128190; Enregistrer" />
                </div>
            </div>
        </div>
    </div>
</form>

<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- -------------         FORM MODAL RECHERCHE         ---------------- -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<form method="post" th:action="@{/recherche}">
    <div class="modal" id="readClient" tabindex="-1" role="dialog" href="#">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Rechercher / Consulter</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form class="modal-body">
                    <form class="form-horizontal mt-5" method="post">
                        <form>
                            <!-- Form Name -->

                            <div class="container">
                                <!-- 1ere colonne du champ de saisie CLIENT-->
                                <label>Recherche par client</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="prenom2" name="prenom" placeholder="Prénom"
                                                       class="form-control input-md"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="nom2" name="nom" placeholder="Nom"
                                                       class="form-control input-md"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label>Recherche par véhicule</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="Immatriculation" name="Immat" placeholder="Immatriculation"
                                                       class="form-control input-md"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label>Recherche par facture</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="facture" name="IdFacture" placeholder="Numéro de facture"
                                                       class="form-control input-md"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </form>
                <div class="modal-footer">
                    <input id="boutonSave2" class="btn btn-info glyphicon glyphicon-search" type="submit"
                           value="Rechercher"/>
                </div>
            </div>
        </div>
    </div>

</form>

<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- -------------         LISTES DÉROULANTES PRESTA         ---------------- -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<form class="form-horizontal mt-5 " th:action="@{/enregistrer}" method="post" id="prestaOk" th:object="${prestation}">
    <div class="container" th:style="${client.nom == null} ? 'display: none'">
        <div class="row">
            <legend>Enregistrement prestation</legend>
            <div class="form-group col-md-6">
                <div class="col-md-10">
                    <select id="TypeActe" th:field="*{acte}" class="select2" required>
                        <option hidden="" value="">Choisissez une intervention</option>
                        <option th:each="acte : ${actes}" th:value="${acte.id_acte}"
                                th:text="${acte.libelle}"></option>
                    </select>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group col-md-6">
                <div class="col-md-10">
                    <select id="TypeFinition" th:field="*{finition}" class="select2" required>
                        <option hidden="" value="">Choisissez un type de finition</option>
                        <option th:each="finition : ${finitions}"
                                th:value="${finition.id_finition}" th:text="${finition.libelle}" th:required></option>
                    </select>
                </div>
                <script>
                    $('.select2').select2();
                </script>
            </div>
        </div>
        <div>
            <div class="col-md-1">
                <div class="form-group col-md-5 mt-5">
                    <input class="btn btn-info" type="submit" value="Ajouter une intervention"/>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- -------------         LISTES Prestations : Facturation  ---------------- -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<form method="post" th:action="@{/enregistrer}" th:style="${prestation.acte == null} ? 'display: none'">

    <table class="table table-bordered table-striped table-md">
        <thead class="table-info">
        <tr>
            <th>Prestation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prestation : ${prestations}">
            <td th:text="${prestation.toString()}"></td>
        </tr>
        </tbody>
    </table>
    <!--</div>-->

    <div class="row">
        <div class="form-group offset-8 col-md-3 mt-5">
            <input class="btn btn-info" type="submit" value="&#128190; Enregistrer"/>
        </div>
    </div>
</form>
</body>
</html>
