<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.4.1/css/all.css">
    <script type="text/javascript" src="/webjars/font-awesome/5.4.1/js/all.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>


<body>
<header th:replace="fragments/header :: header"></header>

<div style="margin-bottom:100px;" class="container mt-5">
    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- -------------      BOUTONS LIENS VERS AUTRES PAGES      ---------------- -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <div class="row m-2">
        <div class="col-md-12">
            <div class="col-md-6 float-left text-center">
                <a th:href="@{|/enregistrement|}" class="btn btn-outline-info a-btn-slide-text font-weight-bold m-2">
                    &#128190; Enregistrement
                </a>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 float-left text-center">

                    <a th:href="@{|/rechercher|}" class="btn btn-outline-info a-btn-slide-text font-weight-bold m-2">
                        <span class="glyphicon glyphicon-folder-open mr-1"></span> Consultation
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12">
            <p class="text-center font-weight-bold col-md-12 m-1 alert alert-success" th:if="${message1}"
                 th:text="${message1}"></p>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- -------------        BAS DE PAGE BUSES PEINTURE         ---------------- -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <div class="row mt-5 m-2">
        <div class="col-md-12">
            <div class="col-md-6 float-left text-center">
                <img class="mw-100 mh-100" th:src="@{images/image_5981da9ea71c8.jpg.png}"
                     alt="Qu'ils sont forts !"/>
            </div>
            <div class="col-md-6 float-left text-center">
                <img class="mw-100 mh-100" th:src="@{images/Peinture-monocouche-1.png}"
                     alt="Qu'ils sont forts !"/>
            </div>

        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>
