<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css"/>
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="col-md-12">Carrosserie AFPA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a th:href="@{|/menu|}" class="btn glyphicon glyphicon-home">
                    <span><strong> Accueil</strong></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-8">
                <img class="mw-100 mh-100" th:src="@{/images/anim2.png}" alt="Beau comme un camion tout neuf !"/>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <legend class="text-center">Ajout ou Modification en Base De Données</legend>
    <div class="col-md-offset-3 mt-5">

        <!-- ------------------------------------------------------------------------ -->
        <!-- ------------------------------------------------------------------------ -->
        <!-- -------------           FORM MODAL NOUVEL ACTE          ---------------- -->
        <!-- ------------------------------------------------------------------------ -->
        <!-- ------------------------------------------------------------------------ -->
        <form method="post" th:action="@{/acte}">
            <div class="modal" id="addActe" tabindex="-1" role="dialog" href="#">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Enregistrer un nouvel acte</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal mt-5" method="post">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input id="libelle" name="libelle"
                                                           placeholder="Nouvel Acte"
                                                           class="form-control input-md"
                                                           type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="modal-footer col-md-12 pull-right">
                                            <input id="boutonSaveActe" class="btn btn-info" type="submit"
                                                   value="&#128190; Enregistrer" th:href="@{/administration}"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- ------------------------------------------------------------------------ -->
        <!-- ------------------------------------------------------------------------ -->
        <!-- -------------         FORM MODAL NOUVEL FINITION        ---------------- -->
        <!-- ------------------------------------------------------------------------ -->
        <!-- ------------------------------------------------------------------------ -->
        <form method="post" th:action="@{/finition}">
            <div class="modal" id="addFinition" tabindex="-1" role="dialog" href="#">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Enregistrer une nouvelle finition</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal mt-5" method="post">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input id="libelle2" name="libelle2"
                                                           placeholder="Nouveau type de finition"
                                                           class="form-control input-md"
                                                           type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="modal-footer col-md-12 pull-right">
                                            <input id="boutonSaveFinition" class="btn btn-info" type="submit"
                                                   value="&#128190; Enregistrer" th:href="@{|/administration|}"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- -------------           FORM MODAL NOUVEAU PRIX          ---------------- -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <form method="post" th:action="@{/admin}">
        <div class="modal" id="addPrix" tabindex="-1" role="dialog" href="#">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Définir un prix</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal mt-5" method="post" th:object="${prestation}">
                            <fieldset>
                                <div class="container">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <div class="col-md-10">
                                                <select id="TypeActe1" th:field="*{acte}" class="select2">
                                                    <option hidden="" value="">Choisissez une intervention</option>
                                                    <option th:each="acte : ${actes}" th:value="${acte.id_acte}"
                                                            th:text="${acte.libelle}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="col-md-10">
                                                <select id="TypeFinition1" th:field="*{finition}" class="select2">
                                                    <option hidden="" value="">Choisissez un type de finition</option>
                                                    <option th:each="finition : ${finitions}"
                                                            th:value="${finition.id_finition}"
                                                            th:text="${finition.libelle}"></option>
                                                </select>
                                            </div>
                                            <script>
                                                $('.select2').select2();
                                            </script>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <input id="libelle3" name="libelle3"
                                                               placeholder="Définir un prix"
                                                               class="form-control input-md"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input id="boutonSavePrix" class="btn btn-info" type="submit"
                                                       value="&#128190; Enregistrer" th:href="@{|/administration|}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="modal-footer col-md-12 pull-right">
                                        <input id="boutonSavePrix" class="btn btn-info" type="submit"
                                               value="&#128190; Enregistrer" th:href="@{/administration}"/>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- -------------   BOUTONS NOUVEL ACTE/NOUVELLE FINITION   ---------------- -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-12">
            <a href="#addActe" class="btn btn-info col-md-5 m-1"
               data-toggle="modal"
               data-target="#addActe"><span class="glyphicon glyphicon-plus"></span>
                <strong> Définir un acte</strong>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-12">
            <a href="#addFinition" class="btn btn-info col-md-5 m-1"
               data-toggle="modal"
               data-target="#addFinition"><span class="glyphicon glyphicon-plus" style="margin-left:33px;"></span>
                <strong> Définir une finition</strong>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-12">
            <a href="#addPrix" class="btn btn-info col-md-5 m-1" data-toggle="modal"
               data-target="#addPrix"><span class="glyphicon glyphicon-plus"></span>
                <strong> Définir un prix</strong>
            </a>
        </div>
    </div>
</div>
</body>
</html>

