<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/select2/4.0.5/css/select2.css}"/>
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/select2/4.0.5/js/select2.js"></script>

</head>

<body>
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- -------------              EN-TÊTE DE PAGE              ---------------- -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<header>


    <nav style="height:50px;"
         class="navbar navbar-expand-lg navbar-light bg-light border rounded-bottom mb-5">
        <a class="navbar-brand glyphicon glyphicon-home text-info" th:href="@{|/menu|}"> Accueil<span
                class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link glyphicon glyphicon-user text-info" th:href="@{/admin}"> Administration</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>-->
            </ul>
            <h1 class="navbar-text text-success m-3 pb-3">Carrosserie </h1>
            <img style="max-width:45px; max-height:45px;" class="w-auto h-auto" th:src="@{/images/afpa.png}"
                 alt="Logo Afpa tout vert">
            <!-- <form class="form-inline my-2 my-lg-0">
                 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>-->
        </div>
    </nav>


    <div class="row m-2">
        <div class="col-md-12 text-center">
            <img class="mw-100 mh-100" th:src="@{/images/anim2.png}" alt="Beau comme un camion tout neuf !"/>
        </div>
    </div>

</header>

<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- -------------   BOUTONS NOUVEAU CLIENT/CLIENT EXISTANT  ---------------- -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<div style="margin-bottom:100px;" class="container mt-5">
    <div class="row m-2">
        <div class="col-md-12">
            <div class="col-md-6 float-left text-center">
                <a href="#addClient" class="btn btn-outline-info a-btn-slide-text m-2" data-toggle="modal"
                   data-target="#addClient">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <strong>Nouveau Client</strong>
                </a>
            </div>
            <div class="col-md-6 float-left text-center">
                <a href="#readClient" class="btn btn-outline-info a-btn-slide-text m-2" data-toggle="modal"
                   data-target="#readClient">
                    <span class="glyphicon glyphicon-folder-open m-1" aria-hidden="true"></span>
                    <strong>Client Existant</strong>
                </a>
            </div>
        </div>
    </div>


    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- -------------         FORM MODAL NOUVEAU CLIENT         ---------------- -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <form method="post" th:action="@{/saveClient}">
        <div class="modal" id="addClient" tabindex="-1" role="dialog" href="#">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Enregistrer un nouveau client</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal mt-5" method="post">
                            <fieldset>
                                <!-- Form Name -->

                                <div class="container">
                                    <!-- 1ere colonne du champ de saisie CLIENT-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="prenom">Prenom</label>
                                                    <input id="prenom" name="prenom" placeholder="Prénom"
                                                           class="form-control input-md" type="text" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="nom">Nom</label>
                                                    <input id="nom" name="nom" placeholder="Nom"
                                                           class="form-control input-md" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="adresse">Adresse</label>
                                                    <input id="adresse" name="adresse" placeholder="n° rue CP Ville"
                                                           class="form-control input-md" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="telephone">Numéro de téléphone</label>
                                                    <input id="telephone" name="telephone" placeholder="0123456789"
                                                           class="form-control input-md" type="tel"
                                                           pattern="[0]{1}[0-9]{9}" maxlength="10" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="email">Adresse mail</label>
                                                    <input id="email" name="email" placeholder="mail@mail.fr"
                                                           class="form-control input-md" type="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="numAfpa">Numero Afpa du propriétaire</label>
                                                    <input id="numAfpa" name="numAfpa" placeholder="XXXXX"
                                                           class="form-control input-md" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="marque">Marque du véhicule</label>
                                                    <input id="marque" name="marque" placeholder="Reno"
                                                           class="form-control input-md" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="immat">Immatriculation du véhicule</label>
                                                    <input id="immat" name="immat" placeholder="XX123XX / 1234 XX 34"
                                                           class="form-control input-md" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="modele">Modèle du véhicule</label>
                                                    <input id="modele" name="modele" placeholder="Clito"
                                                           class="form-control input-md" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="couleur">Couleur du vehicule</label>
                                                    <input id="couleur" name="couleur" placeholder="bleu"
                                                           class="form-control input-md" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="categorie">Categorie du véhicule</label>
                                                    <select id="categorie" name="categorie"
                                                            class="form-control input-md" required>
                                                        <option hidden="" value="">Choisissez une categorie</option>
                                                        <option value="petit" selected>Petit gabarit</option>
                                                        <option value="moyen">Moyen gabarit</option>
                                                        <option value="gros">Gros gabarit</option>
                                                        <option value="fourgon">Fourgon</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label for="date">Date de premiere mise en service</label>
                                                    <input id="date" name="date" placeholder="Date du véhicule"
                                                           class="form-control input-md" type="date" required>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input id="boutonSave" class="btn btn-outline-info" type="submit"
                               value="&#128190; Enregistrer"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- -------------            FORM MODAL RECHERCHE           ---------------- -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->

    <div class="modal" id="readClient" tabindex="-1" role="dialog" href="#">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Rechercher / Consulter</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal mt-5" method="post">
                        <form method="post" th:action="@{/rechercheClientExistant}">
                            <!-- Form Name -->
                            <div class="container">
                                <!-- 1ere colonne du champ de saisie CLIENT-->
                                <label>Recherche par client</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="prenom2" name="prenom" placeholder="Prénom"
                                                       class="form-control input-md" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="nom2" name="nom" placeholder="Nom"
                                                       class="form-control input-md" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input id="boutonSave10" class="btn btn-outline-info" type="submit"
                                       value=" &#128269; Rechercher"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal mt-5" method="post">
                        <form method="post" th:action="@{/rechercheVoitureExistant}">
                            <div class="container">
                                <label>Recherche par véhicule</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="Immatriculation" name="Immat"
                                                       placeholder="Immatriculation" class="form-control input-md"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input id="boutonSave11" class="btn btn-outline-info" type="submit"
                                       value=" &#128269; Rechercher"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal mt-5" method="post">
                        <form method="post" th:action="@{/rechercheFactureExistant}">
                            <div class="container">
                                <label>Recherche par facture</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="facture" name="IdFacture" placeholder="Numéro de facture"
                                                       class="form-control input-md" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input id="boutonSave12" class="btn btn-outline-info" type="submit"
                                       value=" &#128269; Rechercher"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- -------------         LISTES DÉROULANTES PRESTA         ---------------- -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <form class="form-horizontal mt-5" th:action="@{/addPresta}" method="post" id="prestaOk"
          th:object="${prestation}" modelAttribute="client">
        <div class="container" th:style="${client.nom == null} ? 'display: none'">
            <div class="row m-2">
                <p class="alert alert-light font-weight-bold p-0">Enregistrement prestation</p>
                <div class="form-group col-md-12">
                    <div class="col-md-6 float-left text-center">
                        <select id="TypeActe" th:field="*{acte}" class="select2" required>
                            <option hidden="" value="">Choisissez une intervention</option>
                            <option th:each="acte : ${actes}" th:value="${acte.id_acte}"
                                    th:text="${acte.libelle}"></option>
                        </select>
                    </div>

                    <div class="col-md-6 float-left text-center">
                        <select id="TypeFinition" th:field="*{finition}" class="select2" required>
                            <option hidden="" value="">Choisissez un type de finition</option>
                            <option th:each="finition : ${finitions}"
                                    th:value="${finition.id_finition}" th:text="${finition.libelle}"
                                    th:required></option>
                        </select>
                    </div>
                    <script>
                        $('.select2').select2();
                    </script>
                </div>
            </div>
            <div class="row m-2">

                <div class="form-group col-md-12 mt-3 px-0">
                    <input class="btn btn-outline-info font-weight-bold" type="submit"
                           value="&#9881; Ajouter une intervention"/>
                </div>

                <table class="table table-bordered table-striped table-md">
                    <thead class="table-info">
                    <tr>
                        <th>Client</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nom :
                            <span class="font-weight-bold" th:text="${client.nom}"></span>
                            Prénom :
                            <span class="font-weight-bold" th:text="${client.prenom}"></span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>


    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- -------------         LISTES Prestations : Facturation  ---------------- -->
    <!-- ------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------ -->
    <form class="form-horizontal" method="post" th:action="@{/saveFacture}"
          th:style="${prestations.isEmpty()} ? 'display: none'">
        <div class="container">
            <div class="row m-2">
                <table class="table table-bordered table-striped table-md">
                    <thead class="table-info">
                    <tr>
                        <th>Prestation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prestation : ${prestations}">
                        <td th:text="${prestation.toString()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group col-md-12 text-center p-0 m-1">
                    <input class="btn btn-outline-info" type="submit" value="&#128190; Enregistrer"/>
                    <input class="btn btn-outline-warning" type="submit" value="&#10060; Annulation"/>
                </div>
            </div>
        </div>
    </form>
</div>
<footer style="height:50px;" class="fixed-bottom bg-light border text-info text-center">
    <div class="col-md-12">
        <p class="mb-0 mt-2">&#169; Copyright 2019 Réalisation : Mehdi Salamé, Manuel Da Rocha, Baptiste Lavignon</p>
    </div>
</footer>
</body>

</html>
